@CHARSET "ISO-8859-1";

.block-instagram .instagram-image {margin:auto; padding: 5px 0px; text-align:center;}

.box-collateral.box-instagram .instagram-image { padding: 0px 5px; float:left;}
.box-collateral.box-instagram {min-height:2px; overflow:auto;}

.block-instagram-widget { }
.block-instagram-widget .instagram-image {padding: 5px 1%; float:left;}
.block-instagram-widget .block-content {min-height:2px; overflow:auto; text-align: center; width: 100%; margin: auto;}

/* 1.9 rdw style */
.std.product-instagram {min-height:2px; overflow:auto;}
.std.product-instagram .instagram-image { padding: 0px 5px; float:left;}